<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Server=DESKTOP-47F36RI\SQLEXPRESS;Database=ADODIs;Integrated Security=True"
			 providerName="System.Data.sqlClient" name="defaultConnection"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>